<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Ajouter Formateur</title>
</head>
<body>
    <section>
     <div class="image-container">
        <img src="../../assets/formateur.PNG">
      </div>
        <div *ngIf="!isNextStep" class="form-container">
           <div class="form">
            <form  [formGroup]="serviceFormateur.formModelFormateur"autocomplete="off">  
                <h2>Add Trainer</h2>    
                <div class="input">
                      <span>Fullname</span>
                      <input type="text" name="fullname" formControlName="fullname">
                </div>
                <div class="input">
                    <span>Email</span>
                    <input type="text" name="email" formControlName="email">
                    <label class="text-danger" *ngIf="serviceFormateur.formModelFormateur?.get('email')?.touched && serviceFormateur.formModelFormateur?.get('email')?.errors?.required">This field is mandatory.</label>
                    <label class="text-danger" *ngIf="serviceFormateur.formModelFormateur?.get('email')?.touched && serviceFormateur.formModelFormateur?.get('email')?.errors?.email">Email is not valid. </label>
                </div>
                <div class="input">
                    <span>Phone number</span>
                    <input type="text" name="phonenumber" formControlName="phonenumber">
                </div>      
                <div class="input">
                        <span>Nationality</span><br />
                        <select formControlName="nationality" name="pays" id="pays">
                            <option value="Tunisian">Tunisian</option>
                            <option value="Canadian">Canadian</option>
                            <option value="Italian">Italian</option>
                            <option value="American">American</option>
                            <option value="Chinese">Chinese</option>
                        </select>
                 </div>
                <div class="input">
                      <!-- <input type="submit" value="Next" (click)="add_formateur()"> -->
                      <input type="submit" value="Next" (click)="selectNewFormateur()" [disabled]="!serviceFormateur.formModelFormateur.valid">
                </div>
            </form>
         </div>
        </div>
        <div *ngIf="isNextStep" class="form-container">
            <div class="form">
              <h2>  Create your Account by Filling Up This form!</h2>      
             <form [formGroup]="service.formModel" autocomplete="off">
                 <div class="input">
                     <span>FullName</span>
                     <input  type="text" name="FullName" formControlName="FullName">
                 </div>
                   <div class="input">
                       <span>Username</span>
                       <input type="text" name="username" formControlName="username">
                       <label class="text-danger" *ngIf="service.formModel?.get('username')?.touched && service.formModel?.get('username')?.errors?.required">This field is mandatory.</label>
                   </div>
                   <div class="input">
                       <span>Password</span>
                       <input type="password" name="password" formControlName="password">
                       <label class="text-danger" *ngIf="service.formModel?.get('password')?.touched && service.formModel?.get('password')?.errors?.required">This field is mandatory.</label>
                       <label class="text-danger" *ngIf="service.formModel?.get('password')?.touched && service.formModel?.get('password')?.errors?.minlength">Minimum 4 caracters </label>
                  
                     </div>
                   <div class="input">
                     <span> Confirm Password</span>
                     <input type="password" name="confirmpassword" formControlName="confirmpassword">
                     <label class="text-danger" *ngIf="service.formModel?.get('confirmpassword')?.touched && service.formModel?.get('confirmpassword')?.errors?.required">This field is mandatory.</label>
                     <!--<label class="text-danger" *ngIf="service.formModel.get('confirmPassword').touched && service.formModel.get('confirmPassword').errors?.passwordMismatch">confirm password does not match</label> -->
                 </div>
                   <div class="input">
                       <input type="submit" value="Add Trainer" (click)="create_account()" [disabled]="!service.formModel.valid">
                   </div>
             </form>
           </div>
         </div>
    </section>
</body>
</html>